<% include partials/header.ejs %>

<div class="intro">
<h2>Welcome to <%= data.name %>: 
<br>
<%= data.description %></h2>

<div class="category browse">
Day Out in <%= data.name %>
<br>
Night Out Out in <%= data.name %>
<br>
Eat & Drink in <%= data.name %>
<br>
Secret Gems in <%= data.name %>
<br>
Getting Around in <%= data.name %>
<br>
</div>
<div class="slideshow">
Instagram photos scroll here
</div>

<% include partials/footer.ejs %>