<% include partials/header.ejs %>

<h2><%= neighData.name %></h2>
<h3><%= catData.tag %></h3>

<% if (postData.length === 0) { %>
<h2>No posts yet!</h2>

<% } else { %>
<% for (var i = 0; i < postData.length; i++) { %>
	<h2><%= postData[i].title %></h2>
	<h3>By: <a href='../user/<%= userData.id %>'><%= userData.first %></a></h3>
	<br>
	<%= postData[i].content %> 
</div>
<% } %>
<% } %>

<% include partials/footer.ejs %>